<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title></title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>

	<body>
		<link rel="stylesheet" href="../static/css/styleA.css" media="all" />
		<!-- <link rel="stylesheet" href="../static/css/article.css" media="all" /> -->
		<div class="menu-wrap">
			<div class="logo">
				<img
					id="logo"
					src="../static/images/rocklogo.svg"
					height="50px"
					alt="logoimage"
				/>
			</div>
			<input type="checkbox" class="toggler" />
			<div class="hamburger"><div></div></div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="#">首页</a></li>
							<li><a href="#">关于本站</a></li>
							<li><a href="#">Top 10 most wished Books</a></li>
							<li><a href="#">加入</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<header class="myhead">
			<nav>
				<img
					id="logo"
					src="../static/images/rocklogo.svg"
					width="180"
					height="90"
					alt="logoimage"
				/>
				<img
					class="hamburger"
					src="../static/images/iconfinder_menu-alt_134216.svg"
					alt="hamburger"
				/>
			</nav>

			<section class="navlink">
				<ul class="mmenu">
		<li class="active">
			<span>保养A-Z</span>
			<span class="caret"></span>
			<ul class="dropdown">
				<li><a href="" target="_blank">亲子互动</a></li>
				<li>故事书</li>
				<li>3baby cards</li>
			</ul>
		</li>
		<li>
			<span>营养&维生素</span>
			<span class="caret"></span>
			<ul class="dropdown">
				<li>求助方式</li>
				<li><a href="" target="_blank">给s4予帮助</a></li>
				<li>3baby cards</li>
			</ul>
		</li>
		<li>
			<span>健康&长寿</span>
			<ul class="dropdown">
				<li>1baby cards</li>
				<li>2baby cards</li>
				<li>3baby cards</li>
			</ul>
		</li>
		<li>
			<span>家庭&孕妈</span>
			<ul class="dropdown">
				<li>1baby cards</li>
				<li>2baby cards</li>
				<li>3baby cards</li>
			</ul>
		</li>
	<li>
			<span>新闻&专家</span>
			<ul class="dropdown">
				<li>社区</li>
				<li>2baby cards</li>
				<li>3baby cards</li>
			</ul>
		</li>
	</ul>
				<!-- <a href="/blog">保养A&#45;Z</a> -->
				<!-- <a href="#">营养&#38;维生素</a> -->
				<!-- <a href="#">健康&#38;长寿</a> -->
				<!-- <a href="#">家庭&#38;孕妈</a> -->
				<!-- <a href="#">新闻&#38;专家</a> -->
			</section>
			<section class="anim_sec">
				<div class="hero">
					<img src="../static/images/backgroundimg.jpg" alt="" />
					<div class="headline">
						<input value="Search" type="text" />
						<input type="button" value="搜索" />
					</div>
				</div>
			</section>
		</header>

		<div class="slider"></div>

		<div class="why">
			<h1 class="why_headline">热议话题</h1>
			<div class="answer_info">
				<a href="">
					<button>口罩</button>
				</a>
				<a href="">
					<button>免洗洗手液</button>
				</a>
				<a href="">
					<button>发财项目</button>
				</a>
				<a href="">
					<button>失眠</button>
				</a>
			</div>
		</div>
		<div class="panel_postopen">
			<div class="panel_left">
				<div class="photo_gallery">
				<h3 class="gallery_headline">本站videos</h3>
					<div class="gallery_img">
						<img src="../static/images/gallery.jpg" alt="" />
						<div class="sub_img">
							<a href="#">
								<img
									src="../static/images/hbz-10-experts-dream-vacations-8-gettyimages-569665535.jpg"
									alt=""
								/>
								防晒霜的种类
							</a>
							<a href="#">
								<img
									src="../static/images/hbz-10-experts-dream-vacations-8-gettyimages-569665535.jpg"
									alt=""
								/>
								5个过敏体的因素
							</a>
							<a href="#">
								<img src="../static/images/backgroundimg.jpg" alt="" />
								饮食营养预防Virus
							</a>
						</div>
					</div>
					<div class="gallery_pos_info">
						<h4 class="gallery_img_headline">连降大雨，多地受灾</h4>
						<div class="gallery_desc">
							<p>地下车库情况糟糕,救援组救援任务快速展开</p>
						</div>
					</div>
				</div>
				<!-- <h2>y</h2> -->
				<h3 class="gallery_headline">保持健康</h3>
				<ul class="hot_topics">
					{% for u in list%}
					<li>
						<a href="{{url_for('main.article',aid=u.id)}}">
							<img
								width="100"
								height="100"
								src="../static/images/{{ u.category }}"
								alt=""
							/>
							<div class="li-content">
								<p>
									{{ u.subtitle | safe }}
								</p>
								<h4>{{ u.title }}</h4>
								<p>{{ u.desc | safe }}</p>
							</div>
						</a>
						<div class="cr"></div>
					</li>
					{% endfor %}
				</ul>
				<p><button class="more">查看更多</button></p>
			</div>
			<div class="panel_right">
				<div>
					<img
						src="../static/images/header-3@2x.png"
						class="right_advert"
						alt=""
					/>
				</div>
				<h4 class="right_advert_headline">it' good very cool?</h4>
				<p class="right_advert_content">1000 id ,300 city buy 1 9 free</p>
				<p class="right_advert_content">1000 id ,300 city buy 1 9 free</p>
				<p class="right_advert_content">1000 id ,300 city buy 1 9 free</p>
				<p class="right_advert_content">1000 id ,300 city buy 1 9 free</p>
				<p class="right_advert_content">1000 id ,300 city buy 1 9 free</p>
			</div>
		</div>

		<script src="../static/js/TweenMax.min.js"></script>

		<script src="../static/js/TimelineMax.min.js"></script>
		<script src="../static/js/app.js"></script>
	</body>
</html>
